# The Domestic Movie Box Office Before, After, and During the COVID-19 Pandemic
#### *Author*: Austin Villegas
#### *Last Updated*: 05/23/2023

# Table of Contents

1. [Problem Statement](#problem_statement)
    * [Definitions](#definitions)
    * [Goals](#goals)
2. [Analysis](#analysis)   
    * [Imports](#imports)
    * [Data Cleaning](#data_cleaning)
    * [Test for Normality](#test_for_normality)
    * [z-Test vs. t-Test](#z_test_vs_t_test)
    * [Confidence Intervals](#confidence_intervals)
    * [Analysis of Variance (ANOVA)](#anova)
3. [Conclusion](#conclusion)

<a id="problem_statement"></a> 
# Problem Statement 

<a id="definitions"></a> 
### Definitions

<a id="goals"></a> 
### Goals

<a id="analysis"></a> 
# Analysis

<a id="imports"></a> 
### Imports

In [367]:
# general
import pandas as pd
import numpy as np
import datetime as dt

# visualization
import matplotlib.pyplot as plt 

# other
from tqdm.auto import tqdm
import re

# warnings
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

<a id="data_cleaning"></a> 
### Data Cleaning

#### Removing Non-Numeric Values and Setting the Data Types

In [368]:
# read csv 
df = pd.read_csv('..\\bo_data\\bo_data_daily.csv', sep=',', header=0)
df.head()

,date,title,daily_gross,num_theaters,avg_gross,gross_to_date,day_of_release,distributor
0,2000-01-01,Stuart Little,"$6,762,000","2,900","$2,331","$75,194,370",16,Sony Pictures Entertainment (SPE)
1,2000-01-01,Any Given Sunday,"$6,209,000","2,505","$2,478","$42,404,267",11,Warner Bros.
2,2000-01-01,The Talented Mr. Ripley,"$6,136,000","2,309","$2,657","$35,707,126",8,Paramount Pictures
3,2000-01-01,The Green Mile,"$5,849,000","2,875","$2,034","$73,352,123",23,Warner Bros.
4,2000-01-01,Toy Story 2,"$4,974,364","3,102","$1,603","$204,817,418",44,Walt Disney Studios Motion Pictures

In [370]:
# remove the non-numeric characters and fill in '-' with NaN

# if the movie premiered earlier than the official day of release, day_of_release might be a '-'
# to fix this we can replace '-' with 0 if the daily_gross == gross_to_date (this would mean early release)
df.loc[(df.day_of_release == '-') & (df.daily_gross == df.gross_to_date), 'day_of_release'] = 0

# remove all '-' in other columns and replace with None
df.daily_gross = df.daily_gross.replace('-', np.NaN)
df.num_theaters = df.num_theaters.replace('-', np.NaN)
df.avg_gross = df.avg_gross.replace('-', np.NaN)
df.gross_to_date = df.gross_to_date.replace('-', np.NaN)
df.day_of_release = df.day_of_release.replace('-', np.NaN)

# remove all non-numeric symbols from numeric fields like '$' or ','
regex = re.compile(r'[^0-9.]')
df.daily_gross = df.daily_gross.str.replace(regex, '', regex=True)
df.num_theaters = df.num_theaters.str.replace(regex, '', regex=True)
df.avg_gross = df.avg_gross.str.replace(regex, '', regex=True)
df.gross_to_date = df.gross_to_date.str.replace(regex, '', regex=True)
df.day_of_release = df.day_of_release.str.replace(regex, '', regex=True)

# right now all objects in df are str, need to convert to correct type
type_dict = {
    'title' : str,
    'daily_gross' : float,
    'num_theaters' : float,
    'avg_gross' : float,
    'gross_to_date' : float,
    'day_of_release' : float,
    'distributor' : str      
}

df = df.astype(type_dict)
df.date = pd.to_datetime(df.date)

In [377]:
print('total nulls:', len(df[df.isnull().any(axis=1)]) + len(df[df.distributor == '-']))
print('nulls from distributor:', len(df[df.distributor == '-']))
print('numeric nulls:', len(df[df.isnull().any(axis=1)]))

total nulls: 21972
nulls from distributor: 21659
numeric nulls: 313

#### Impution

We need to impute data for num_theaters, avg_gross, gross_to_date, and distributor. The amount of numeric nulls is quite low relative to the total amount of data, and normally I would just remove these rows. But because of the use case, I believe these values are easy and worthy to impute. Imputing distributors will not be as fruitful, but I can try to fill in some of the gaps by seeing if the row just has a missed entry and the distributor for that movie exists in another row.

The rules for imputation will be as follows:
1. **num_theaters**
    * If the missing data is in between days of known value, and those values are the same, then we will assume the middle days also have the same value
    * If the endpoints of the interval of Null data have different values, we will take the difference and divide by the amount of days in between and subtract/add in even increments for each day (perfectly linear relationship)
    * If the value is missing from the first day we will assume it has the same value of the second day and likewise for the last and penultimate days
    * If the value is only a single day with no other surrounding days we can approximate num_theaters as daily_gross/$500 (with a $10 avg price this translates to 50 people per theater)
2. **avg_gross**
    * Once we impute num theaters we can calculate avg_gross as daily_gross/num_theaters
3. **gross_to_date**
    * If it is the first or zeroth day of release we can set this values to the daily_gross. If not the first day we can perform the addition by hand.
4. **distributor**
    * We can check to see if the distributor exists for the movie in any another row. If it does not, we will leave the value as '-'.

<a id="test_for_normality"></a> 
### Test for Normality

<a id="z_test_vs_t_test"></a> 
### z-Test vs t-Test

<a id="confidence_intervals"></a> 
### Confidence Intervals

<a id="anova"></a> 
### Analysis of Variance (ANOVA)

<a id="conclusion"></a> 
# Conclusion